/* Reset & Base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

body {

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    background-color: #fff;
    color: #333;
}

.little-nav {

    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 14px;
    padding: 10px 30px;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1100;


    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(6px);
    color: white;
}

.informatoin-contanire {
    display: flex;
    gap: 40px;
}

.info {
    display: flex;
    gap: 5px;
}

.info img {
    width: 16px;
    height: 16px;
}

/* Social Icons */
.social {
    display: flex;
    gap: 15px;
}

.social img {
    width: 18px;
    height: 18px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.social img:hover {
    transform: scale(1.1);
}

/* Header */
header {

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 50px;

    position: fixed;
    top: 40px;
    left: 0;
    width: 100%;
    height: 70px;
    z-index: 1000;

    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(6px);

}

header .logo {

    font-size: 30px;
    font-weight: bold;
    color: white;
    cursor: pointer;

}

header nav ul {

    display: flex;
    gap: 30px;
}

header nav ul li a {
    font-size: 18px;
    color:white;
    transition: color 0.3s ease;
}

header nav ul li a:hover {
    color: goldenrod;
}

/* Home Section */
#home {
    margin-top: 0px;
    text-align: center;
}

.home-content{
    position: relative;
}

.home-content img {

    width: 100%;
    max-height: 700px;
    object-fit: cover;
    display: block;
}

.home-info{

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: white;
}

.home-info h1 {
    font-size: 40px;
    text-shadow: 2px 2px 5px rgba(0 ,0,0,0.5);
    margin-bottom: 10px;
}

.home-content span {
    display: block;
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(0 ,0,0,0.5);
}

.home-info button {

    padding: 10px 25px;
    font-size: 16px;
    background-color: goldenrod;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.home-content button:hover {
    background-color: brown;
}

/* About Section */

#About{
    padding: 30px 20px;
}

.Sponser-cards{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* gap: 20px; */
}

.Sponser-cards .card{

    display: flex;
    width: 23%;
    min-width: 200px;

    position: relative;
    overflow: hidden;

    transition: transform 0.3s ease;
}

.Sponser-cards .card::after
{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    width: 0;
    background-color: orange;

    transition:  width 0.5s ease;
}

.Sponser-cards .card:hover::after{
    width: 100%;
}


.Sponser-cards .card .img-card
{
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 10px;

}
.Sponser-cards .card .img-card img
{
    max-width: 80px;
    max-height: 80px;
    object-fit:cover;
    border-radius: 50%;

    opacity: 0.5;

    transition: all 0.3s ease;

}

.Sponser-cards .card .img-card img:hover
{
opacity: 1;
cursor: pointer;

}

.Sponser-cards .card .info-card
{
    padding: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    gap: 8px;
}

.Sponser-cards .card .info-card h5{

    font-size: 14px;
    font-weight: bold;
    color: #333;
}
.Sponser-cards .card .info-card img{
    width: 50px;
}
.Sponser-cards .card .info-card .date{
    font-size: 12px;
    color: #777;
}

/* Main About */
.main-about 
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    gap: 30px;
    padding: 100px;

}
/* Right */
.main-about .right{
    display: flex;
    z-index: 1;
    flex: 1;
}

.main-about .img-box
{
    position: relative;
    width: 100%;
}

.main-about .img-box img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

.main-about .text
{
    position: absolute;
    top: 0px;
    width: 100%;
    height: 35%;
    padding: 10px;
    /* border-radius:  0 0 15px 15px; */
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
}
.main-about .right .img-box:nth-child(1) .text
{
    background-color: rgba(255, 165, 0, 0.6);
}

.main-about .right .img-box:nth-child(2) .text
{
    background-color: rgba(128, 128, 128, 0.6);
}
.main-about .text span
{
    display: block;
    font-size: 15px;
    letter-spacing: 2px;
    font-weight: 500;
}

.main-about .text h4{
    margin: 5px 0 0;
    font-size: 33px;
    font-weight: 300;
}
/* Left */
.main-about .left{
    flex:1; 
}
.main-about .left
{
    text-align: center;
    color: grey;
    padding: 15px;
}

.main-about .left h2 ,p
{
    margin-bottom: 20px;
}

.main-about .left button
{
    padding: 15px 25px;
    border-radius: 50px;
    font-size: 16px;
    background-color:goldenrod;
    border: none;
    color: white;

    transition: all .3s ease;
}
.main-about .left button:hover
{
    background-color: brown;
    cursor: pointer;
}

@media (max-width: 768px) {
    .main-about {
        flex-direction: column;
    }

    .main-about .right,
    .main-about .left {
        flex-basis: 100%;
    }
}

/* menu in about section */

#About .menu
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* gap: 30px; */
    padding: 40px;

}

#About .menu .img-box
{

    width: 400px;
    height: 300px;

    position: relative;
    overflow: hidden;

    transition: all 0.3 ease;

    margin-bottom: 20px;

}

#About .menu .img-box:hover {
box-shadow: 0 20px 40px rgba(0,0,0,0.5);
}


.menu:hover .img-box:nth-child(1) {
    transform: skewX(5deg);
}

.menu:hover .img-box:nth-child(3) {
    transform: skewX(-5deg);
}



#About .menu .img-box img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;

    transition: transform 0.4s ease;
}

#About .menu .img-box:hover img
{
    transform: scale(1.02);
}

#About .menu .img-box .text
{
    position: absolute;

    bottom: 0;
    left: 0;

    width: 100%;
    /* height: 100%; */

    padding: 15px 20px;

    background :linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
    color: white;

    
    opacity: 0;
    transition: opacity 0.3s ease;
    
    text-align: left;

}

#About .menu .img-box:hover .text
{

    opacity: 1;
    cursor: pointer;
}

#About .menu .img-box .text h3
{
    margin-bottom: 10px;
    font-size: 22px;

}

#About .menu .img-box .text p{

    font-size: 14px;
    margin-bottom: 15px;
    font-weight: 400;
}
#About .menu .img-box .text button
{
    padding: 8px 16px;
    background-color: goldenrod;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;

    transition: background-color 0.3s ease;

}
#About .menu .img-box .text button:hover
{
    background-color: orange;
}

/* Comments in About Section */
#About .comments
{
    max-width: 10000px;
    margin: 60px auto;
    padding: 0 20px;
    text-align: center;
    
}

#About .comments .comments-title h2
{
    font-size: 28px;
    margin-bottom: 15px;
}

#About .comments .comments-title h2:first-of-type
{
    color: #333;
}


#About .comments .comments-title h2:last-of-type
{
    color: #908b8b;
} 

#About .comments .cards
{
    display: flex;
    flex-wrap: wrap;
}


#About .comments .comment-card 
{
    margin: 30px auto;
    box-shadow: 0 8px 10px rgba(0 ,0,0,0.08);
    max-width: 600px;
    padding:  25px;

    transition: transform 0.3s ease , box_shadow 0.3s ease;
}

#About .comments .comment-card:hover
{
    transform: translateY(-5px);
    box-shadow: 0 12px 24px rgba(0 ,0,0,0.15);
}

#About .comments .comment-card p{
    font-size: 16px;
    color: #444;
    padding-top: 20px;
    margin-bottom: 20px;
    line-height: 1.6;

}

#About .comments .comment-card .person
{
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: center;
}

.person-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


#About .comments .comment-card .person img{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ff914d;
}

#About .comments .comment-card .person h4
{
    font-size: 18px;
    margin: 0;
}

#About .comments .comment-card .person span
{
    display: block;
}

/* Menu Section */
#Menu{
    margin-bottom: 20px;
}

#Menu .menu-contanire
{
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(250px,1fr));
    gap: 10px;
    padding: 40px;
}

#Menu .menu-contanire .categorize
{
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
}

#Menu .menu-contanire .categorize .img-box
{
    position: relative;
    overflow: hidden;
}

#Menu .menu-contanire .categorize .img-box::before
{
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.3);
    transform: skewX(-20deg);
    transition: left 0.5s;
    z-index: 1;
}

#Menu .menu-contanire .categorize .img-box:hover::before {
    left: 100%;
}

#Menu .menu-contanire .categorize .img-box img
{
    width: 100%;
    display: block;
    height: auto;
    margin-bottom: 15px;

    transition: filter 0.3s ease;
    
}

#Menu .menu-contanire .categorize .img-box:hover img
{
    filter: brightness(70%);
    transition: filter 0.3s ease;
}
#Menu .menu-contanire .categorize .img-box button
{
    position: absolute;

    top: 10px;
    left: 10px;

    background-color: goldenrod;
    color: white;
    border: none;

    padding: 9px 12px;
    border-radius: 25px;

    transform: all 0.3s ease;

}

#Menu .menu-contanire .categorize .img-box button:hover
{
    background-color: orange;
    cursor: pointer;
}

.info-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#Menu .menu-contanire .categorize h4
{
    margin: 0;
    font-size: 20px;
    color: #333;
}

#Menu .menu-contanire .categorize .info-top span
{
    font-size: 14px;
    color:orange;
    font-weight: bold;

}

#Menu .menu-contanire .categorize span
{
    font-size: 14px;
    color: #777;
}

/* make order */

.order
{
    position: relative;
    width: 100%;
}

.order img
{
    width: 100%;
    height: 400px;
    object-fit: cover;
    position: relative;

}

.order .text
{
    position: absolute;
    top: 40%;
    left: 40%;
    transform: translate(-50%, -50%); 
    text-align: start;
    max-width: 80%; 
    width: 600px;  

}


.order .text h2
{
    color: darkorange;
    margin-bottom: 10px;
}

.order .text p{
    color: black;
    line-height: 30px;
}

.order .text button
{
    padding : 15px 20px ;
    border: none;
    background-color: goldenrod;
    border-radius: 20px;
    color: white;

    transform: all 0.3s ease;
}

.order .text button:hover
{
    background-color: orange;
    cursor: pointer;
}

/* Feedback */
.feedback
{
    background-color: darkorange;
    color: white;
    text-align: center;

    padding: 20px;
}

.feedback .text h1
{
    font-weight: 700;
}

.feedback .contanir form input
{
    width: 300px;
    height: 50px;
    border: none;
    background-color: rgb(202, 129, 39);

    /* rgb(123, 75, 16); */
}

.feedback .contanir form input::placeholder
{
    color: white;
    padding-left: 10px;
    font-weight: bold;

}

.feedback .contanir form button
{
    height: 50px;
    padding: 0 20px ;
    color: darkorange;
    font-size:15px;
    border: none;
    cursor: pointer;
    transform: all 0.3s ease;

}
.feedback .contanir form button:hover
{
    color: whitesmoke;
    background-color: rgb(123, 75, 16);;
}

/* contact */
#Contact
{
    background-color:  rgb(123, 75, 16);
    padding: 60px 20px;
}

#Contact .contact-container
{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;

}
#Contact .about-us,
#Contact .Instagram,
#Contact .contact-info {
    flex: 1 1 300px;
    padding: 20px;
    color: #333;
}

#Contact .about-us  , #Contact .contact-info
{
    color: white;
}

#Contact .about-us h3 , #Contact .contact-info h3{
    margin-bottom: 10px;
}

 #Contact .contact-info span
 {
    display: block;
    line-height: 35px;
 }

#Contact .contact-container .Instagram
{
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 200px;

    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr;   

}
#Contact .contact-container .Instagram img{
    width: 100%;
    height: 100%;
    border-radius: 8px;
    object-fit: cover;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);;
}

/* footer */
footer {
    background-color: #2c2c2c;  
    color: #fff;               
    text-align: center;     
    padding: 20px 10px;        
    font-size: 14px;          
    margin-top: 40px;          
}

footer span {
    font-weight: bold;
    color: #e0a860; 
}
